PAK Pertemuan 5.json
{
  "name": "PAK Pertemuan 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KigPchgaYNaR23Epmu78FXQpn_Apl41x",
          "mode": "list",
          "cachedResultName": "n8n-ai-rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KigPchgaYNaR23Epmu78FXQpn_Apl41x"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        32,
        -80
      ],
      "id": "0a079bd2-9f0b-4b88-89bf-31bfad2471a5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bw2NoP06FuX8yx0t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "134badc3-71d2-458f-b530-ecf9b1ece08f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -80
      ],
      "id": "7a9a3375-b4ca-4af9-947f-2d9ea7faf0fb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -80
      ],
      "id": "31c5ee8b-7a28-4e0a-b66e-a10378b36b81",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bw2NoP06FuX8yx0t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        704,
        -80
      ],
      "id": "a49455ae-4653-40a0-873e-02e3a3919c76",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_tugas5",
          "mode": "list",
          "cachedResultName": "documents_tugas5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        960,
        -80
      ],
      "id": "883f0e06-7f5e-4c95-8cf0-3ac43bbca07d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "RiLAhUi695rQEhMT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        144
      ],
      "id": "8e63f0c0-c57b-403e-b670-d0954c8800c6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Zgl8JGCslJft3A9k",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        144
      ],
      "id": "0091c664-41d3-4d47-afcc-53c28770407b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1136,
        352
      ],
      "id": "504c3284-4019-4fa5-bfee-8b43a8e691fe",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Selamat datang di Gradufy 🎓  \nSaya adalah asisten virtual yang siap membantu Anda dalam perjalanan menuju kelulusan.",
        "options": {
          "inputPlaceholder": "Silahkan bertanya terkait Tugas Akhir atau Skripsi",
          "subtitle": "Gradufy 🎓🤝📚  Teman setia mahasiswa semester akhir menuju kelulusan ✨",
          "title": "Halo Gradufyers📚🎓"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        560
      ],
      "id": "3db78133-4058-43c4-8f23-316fb7880b0a",
      "name": "When chat message received",
      "webhookId": "76fd9080-08a7-43d7-a057-e93735979815"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas akhir (TA). Gunakan tool Supabase Vector Store untuk \nmemberikan bantuan. \nJika informasi tidak tersedia dalam database yang disediakan, jangan menjawab dengan mengarang sendiri, tetapi berikan jawaban “Maaf, saya belum dapat menjawab karena saya temukan dalam informasi yang tersedia.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        312,
        560
      ],
      "id": "a59f942c-7dfc-44f2-95a2-a5b1e10d5980",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        784
      ],
      "id": "e85fa187-ef1c-4c64-a6f4-1451eeff16e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oKJrYJRLVxHY3nzD",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan seputar Panduan Penulisan Ilmiah Tugas Akhir / Skripsi, meliputi kriteria Judul, Bab I sampai Bab V, Daftar Referensi, Abstrak, serta Format dan Gaya Penulisan sesuai panduan resmi.",
        "tableName": {
          "__rl": true,
          "value": "documents_tugas5",
          "mode": "list",
          "cachedResultName": "documents_tugas5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        784
      ],
      "id": "284fe66c-a323-47be-b7b2-2cf0b4f45c0a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "RiLAhUi695rQEhMT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        384,
        784
      ],
      "id": "e5e519ef-e322-40d2-9907-d8ec2565d9ea",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9Rut3PLG39yhkypp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        992
      ],
      "id": "e047300f-ac64-46a8-8dc9-4ce5c94e6e31",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Zgl8JGCslJft3A9k",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bde408b1-b433-45eb-8915-bd2088a227a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5c27fd12a99cf94d204f2d72da71088503f6985c0ba9d8b9598f078050953d"
  },
  "id": "FjFvz0hZGQFramrC",
  "tags": []
}